<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mineral Airways</title>
    @Styles.Render("~/Content/css")    
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker-build.less")
    @Styles.Render("~/Scripts/jquery-ui.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-ui.js")    
    @Scripts.Render("~/Scripts/jquery.validate.js")
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.js")
    @Scripts.Render("~/Scripts/DatePickerReady.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.es.js")
    @Scripts.Render("~/Scripts/FuncionesGenerales.js")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Login", "Account")'>
                    <img src='@Url.Content("~/img/mineral.png")' class="navbar-brand" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div id="loading-modal"></div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mineral Airways - Reservas de vuelo Collahuasi</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")


    @RenderSection("scripts", required: false)
</body>
</html>