@model MineralAirways.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvidó la contraseña?";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="row">
    <h1 class="text-primary col-md-9">@ViewBag.Title</h1>
    <div class="form-inline col-md-3">
        <br />
        <a href="@Url.Action("Login","Account")" class="btn btn-primary pull-right btn-sm"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Volver</a>
    </div>
</div>
<br />
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Especifique su Rut y Correo electrónico.</h4>
    <hr />    
    <div class="form-group">
        @Html.LabelFor(m => m.RutUsuario, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.RutUsuario, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.RutUsuario, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Obtener contraseña" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $('#RutUsuario').on('blur', function () {
        var rut = $("#RutUsuario").val();
        if (rutValido(rut)) {
            formateaRut(this, 'XXXXXXX-X');
        }
        else {
            BootstrapDialog.show({
                title: '¡Validación!',
                message: '<strong>Rut Incorrecto</strong>',
                type: BootstrapDialog.TYPE_DANGER,
                buttons: [{
                    label: 'Aceptar',
                    cssClass: 'btn-default btn-sm',
                    action: function(dialog) {
                        dialog.close();
                    }
                }]
            });
            $('#RutUsuario').focus();
            $("#RutUsuario").val("");
        }
    });
</script>