@model MineralAirways.Models.ReservasVuelos

@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="text-primary col-md-9">Detalle de la Reserva del Vuelo</h1>
    <br />
    <div class="form-inline col-md-2">
        <a href="@Url.Action("Edit","ReservasVuelos", new { id = Model.ReservaVueloID})" class="btn btn-primary pull-right btn-sm"><span class="glyphicon glyphicon-edit"></span>&nbsp;Editar Reserva Vuelo</a>
    </div>
    <div class="form-inline col-md-1">
        <a href="@Url.Action("Index","ReservasVuelos")" class="btn btn-primary pull-right btn-sm"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Volver</a>
    </div>
</div>

<div class="row">    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConfirmacionAsiento)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.ConfirmacionAsiento)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.FechaHoraConfirmación)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.FechaHoraConfirmación)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.FechaHoraCancelacion)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.FechaHoraCancelacion)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Asientos.ColumnaAsiento)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Asientos.ColumnaAsiento)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Aviones.MatriculaDelAvion)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Aviones.MatriculaDelAvion)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Pasajeros.Rut)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Pasajeros.Rut)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Vuelos.VueloID)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Vuelos.VueloID)
        </dd>   
    </dl>
</div>   
